---
import { groupCode1 } from "src/constants/common"
import { GAMES_URL, HOME_URL, STANDINGS_URL } from "src/constants/routes"
import { Image } from "astro:assets"
import BasketballIcon from "../assets/svgs/basketball-icon.svg"

const { pathname } = Astro.url
---

<header>
  <div class="header-wrapper">
    <h5 class="title">Liga Municipal de Baloncesto Hortaleza</h5>
    <Image
      class="image"
      src={BasketballIcon}
      alt="Logo Madrid Azul"
      width={30}
      height={30}
    />
  </div>
  <nav class="nav">
    <a class={pathname === HOME_URL ? "active" : ""} href={HOME_URL}>Inicio</a>
    <a
      class={pathname.includes(STANDINGS_URL) ? "active" : ""}
      href={`${STANDINGS_URL}/${groupCode1}`}>Clasificación</a
    >
    <a
      class={pathname.includes(GAMES_URL) ? "active" : ""}
      href={`${GAMES_URL}/${groupCode1}`}>Partidos</a
    >
  </nav>
</header>

<style>
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .title {
    max-width: 15rem;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .active {
    background: var(--primary-color);
    color: var(--white-color);
  }

  a {
    font-size: 0.8rem;
    color: var(--black-color);
    background: var(--white-color);
    font-weight: 600;
    text-decoration: none;
    border: 0.125em solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
</style>
